language: cpp

git:
  depth: 1000

matrix:
  include:
    - os: linux
      dist: trusty
      sudo: required
    - os: osx
      osx_image: xcode8.3

install:
  - pushd build
  - ./download.sh
  - popd

script:
  - ulimit -n 4096
  - pwsh -noprofile -nologo -command \$PSVersionTable
  - pwsh -noprofile -nologo -file build.ps1
