version: 4.6.0.{build}
image: WMF 5
skip_commits:
  message: /updated readme.*|update readme.*s/
build: off

before_test:
  - echo script1
  - ps: ./build/dotnet-install.ps1

test_script:
  - ps: ./build.ps1