name: Publish
permissions:
  contents: read
on:
  workflow_dispatch:
  release:
    types: [published]

jobs:
  publish_module:
    name: Publish PowerShell Module
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Publish PowerShell Module
        shell: pwsh
        env:
          PSGALLERY_API_KEY: ${{ secrets.PSGALLERY_API_KEY }}
        run: |
          ./build.ps1 -Task PublishPSGallery -Bootstrap
  publish_chocolatey:
    name: Publish Chocolatey Package
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - name: Load Choco API Key
        shell: powershell
        run: "choco apikey add -k '${{ secrets.CHOCOAPIKEY }}' -s https://push.chocolatey.org/"
      - name: Publish Chocolatey Package
        shell: powershell
        run: |
          ./build.ps1 -Task PublishChocolatey -Bootstrap
  publish_nuget:
    name: Publish nuget Package
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - name: Publish Chocolatey Package
        env:
          NUGET_API_KEY: ${{ secrets.NUGET_API_KEY }}
        shell: powershell
        run: |
          ./build.ps1 -Task PublishNuget -Bootstrap


